<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Monitor de Servidores</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>
  </head>
  <body>
    <div id="app" class="table-container p-5">
      <h1 class="text-5xl text-center font-bold p-6">Monitor de Servidores</h1>

      <div
        v-if="servers.length === 0"
        class="text-center text-red-500 text-3xl"
      >
        No hay servidores activos actualmente
      </div>

      <!-- Tarjetas de servidores -->
      <div v-else class="grid grid-cols-2 md:grid-cols-6 gap-4 pt-4">
        <div
          v-for="server in servers"
          :key="server.instance"
          class="server-table border p-4 shadow-md rounded"
        >
          <h2 class="text-xl font-semibold mb-2">{{ server.instance }}</h2>
          <p class="pb-2 text-lg">
            Estado actual: {{ server.history[server.history.length - 1].status }}
          </p>
          <div class="w-full h-48 overflow-y-auto">
            <table class="w-full border-collapse">
              <thead>
                <tr class="bg-gray-200">
                  <th class="border py-1">Historial de Logs</th>
                </tr>
              </thead>
              <tbody>
                <tr
                  v-for="(log, index) in [...server.history].reverse()"
                  :key="index"
                  class="odd:bg-gray-100 even:bg-white"
                >
                  <td class="border py-2">
                    <span class="text-gray-600 text-base"
                      >{{ log.timestamp }}: {{ log.status }}</span
                    >
                    <span
                      :class="log.status === 'up' ? 'bg-green-500' : 'bg-red-500'"
                      class="inline-block w-4 h-4 rounded-full mx-1"
                    ></span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <!-- Botones de control -->
      <div class="grid grid-cols-2 md:grid-cols-4 gap-4 pt-4">
        <div class="button-container mt-4 flex justify-center">
          <button
            @click="loadLogs"
            class="bg-gray-500 hover:bg-blue-600 text-white font-semibold py-3 px-6 text-xl rounded"
          >
            Cargar Logs
          </button>
        </div>
        <div class="button-container mt-4 flex justify-center">
          <button
            @click="stopRandomCont"
            class="bg-red-500 hover:bg-green-600 text-white font-semibold py-3 px-6 text-xl rounded"
          >
            Guardar Logs
          </button>
        </div>
        <div class="button-container mt-4 flex justify-center">
          <button
            @click="runDockerCommand"
            class="bg-green-500 hover:bg-red-600 text-white font-semibold py-3 px-6 text-xl rounded"
          >
            Limpiar Logs
          </button>
        </div>
        <div class="button-container mt-4 flex justify-center">
          <button
            @click="asyncOperation"
            class="bg-purple-500 hover:bg-purple-700 text-white font-semibold py-3 px-6 text-xl rounded"
          >
            Sync Operation
          </button>
        </div>
      </div>
    </div>

    <script src="monitor.js"></script>
  </body>
</html>
